/* ===== Base / Typography ===== */
@font-face {
  font-family: 'Ajirotype';
  src: url('Ajirotype.otf') format('opentype');
}


/* ===== Mobile safe-area compensation (iOS, etc.) ===== */
@supports (-webkit-touch-callout: none) {
  body { padding-bottom: env(safe-area-inset-bottom, 20px); }
}
